#quiz {
  display: none;
}
#hint {
  display: none;
  background-color: #EEEEEE;
  color: green;
  padding: 20px;
  border: 2px solid black;
  margin: 10px;
}
#feedback {
  display: none;
}
#progress {
  display: none;
}
#action {
  display: none;
  float: right;
  margin-left: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}

.dotCorrect {
  height: 12px;
  width: 12px;
  background-color: #3cb371;
  border-radius: 50%;
  display: inline-block;
  margin-top: 19px;
  margin-right: 10px;
  float: right;
}

.questionImage {
  display: block;
  margin: 0.5em auto 0.5em auto;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.quizQuestion {
  padding: 2em;
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  margin-bottom: 1em;
  border-radius: 1em;
}
.quizQuestion .stem {
  font-weight: bold;
}

math-field {
  margin: 0.5em;
  font-size: 20px;
}

math-field.small {
  width: 90px;
  font-size: 20px;
}

math-field.standard {
  width: 180px;
  font-size: 20px;
}

math-field.large {
  width: 270px;
  font-size: 20px;
}

input.small {
  width: 90px;
  font-size: 20px;
}

input.standard {
  width: 180px;
  font-size: 20px;
}

input.large {
  width: 270px;
  font-size: 20px;
}
