#quiz {
  display: none;
}
#feedback {
  display: none;
}
#progress {
  display: none;
}
#action {
  display: none;
  float: right;
  margin-left: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}

.dotCorrect {
  height: 12px;
  width: 12px;
  background-color: #3cb371;
  border-radius: 50%;
  display: inline-block;
  margin-top: 19px;
  margin-right: 10px;
  float: right;
}

.questionImage {
  display: block;
  margin: 0.5em auto 0.5em auto;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.quizQuestion {
  padding: 2em;
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  margin-bottom: 1em;
  border-radius: 1em;
}
